{% extends 'base.html' %}
{% block title %}Bands{% endblock %}
{% block content %}
<h2 class="mb-3">Bands</h2>
<a href="{% url 'band-create' %}" class="btn btn-primary mb-3">Add Band</a>
<div class="table-responsive">
<div id="dialog"></div>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Net Worth</th>
      <th>Males Count</th>
      <th>Females Count</th>
      <th>Players Count</th>
      <th>Matches Win</th>
      <th>Matches Played</th>
      <th>Winning %</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="table-body">
    {% include "academy/bands/partials/table_body.html" %}
  </tbody>
</table>
<h5><strong>Players count: </strong>{{total_active_players}}</h5>
</div>
{% endblock %}
