{% extends "base.html" %}
{% block style %}
img {
    width: 50%;
    height: 50%;
    object-fit: cover; /* crop to fill container while maintaining aspect */
    display: block;
}
{% endblock %}
{% if instance %}
    {% block title %}{{ instance.name }}{% endblock %}
    {% block content %}
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h3>{{ instance.name }}</h3>
            </div>

            <div class="card-body">
                {% if instance.image_url %}
                        <div class="text-center mb-3">
                            <img src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ instance.image_url }}"
                                alt="{{ instance.name }}">
                        </div>
                {% endif %}

                {% if instance.player_1 %}
                    <p><strong>Player 1:</strong> {{ instance.player_1 }}</p>
                    <div class="text-center mb-3">
                        <img src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ instance.player_1.image_url }}"
                            alt="{{ instance.player_1.name }}">
                    </div>
                {% endif %}

                {% if instance.player_2 %}
                    <p><strong>Player 2:</strong> {{ instance.player_2 }}</p>
                    <div class="text-center mb-3">
                        <img src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ instance.player_2.image_url }}"
                            alt="{{ instance.player_2.name }}">
                    </div>
                {% endif %}


                {% if instance.gender %}
                    <p><strong>Gender:</strong> {{ instance.gender }}</p>
                {% endif %}

                {% if instance.wins %}
                    <p><strong>Wins:</strong> {{ instance.wins }}</p>
                {% endif %}

                {% if instance.matchesplayed %}
                    <p><strong>Matches Played:</strong> {{ instance.matchesplayed }}</p>
                {% endif %}

                {% if instance.winningpercentage %}
                    <p><strong>Winning %:</strong> {{ instance.winningpercentage|floatformat:2 }}</p>
                {% endif %}

                {% if instance.band %}
                    <p><strong>Band:</strong> {{ instance.band.name }}</p>
                {% endif %}

                {% if instance.spouse %}
                    <p><strong>Spouse:</strong> {{ instance.spouse.name }}
                {% endif %}

                {% if instance.networth %}
                    <p><strong>Networth:</strong> ₹ {{ instance.networth|floatformat:2 }}</p>
                {% endif %}

                {% if instance.men_count %}
                    <p><strong>Men Player Count:</strong> {{ instance.men_count }}</p>
                {% endif %}

                {% if instance.women_count %}
                    <p><strong>Women Player Count:</strong> {{ instance.women_count }}</p>
                {% endif %}

                {% if instance.others_count %}
                    <p><strong>Other Gender Player Count:</strong> {{ instance.others_count }}</p>
                {% endif %}

                {% if instance.player_count %}
                    <p><strong>Player Count:</strong> {{ instance.player_count }}</p>
                {% endif %}

                </p>
            </div>
        </div>

    {% endblock %}
{% endif %}