{% extends 'base.html' %}
{% block title %}Championship{% endblock %}
{% block content %}
<h2 class="mb-3">Championship</h2>
<a href="{% url 'championship-create' %}" class="btn btn-primary mb-3">Add Championship</a>
<a href="{% url 'championship-history' %}" class="btn btn-secondary mb-3">Championship History</a>
<div class="table-responsive">
<div id="dialog"></div>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Championship Name</th>
      <th>Player</th>
      <th>Bands</th>
      <th>Duration</th>
      <th>Hike</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="table-body">
    {% include "academy/championship/partials/table_body.html" %}
  </tbody>
</table>
</div>
{% endblock %}
