{% extends "base.html" %}
{% block style %}
img {
    width: 50%;
    object-fit: cover;
    display: block;
}
{% endblock %}
{% block content %}
<div class="container mt-3">
    <div class='row'>
        <h2>{{ instance.name }}</h2>
    </div>
    <br />
    <div class='row'>
        <div class="col-6 col-md-6">
            {% if instance.image_url %}
            <img src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ instance.image_url }}" 
                            alt="{{ instance.name }}">
            {% else %}
            <img alt="{{ instance.player.name }}">
            {% endif %}

            {% if instance.hike %}
                <p><strong>Hike:</strong> {{ instance.hike }}%</p>
            {% endif %}
            {% if instance.updated_on %}
                <p><strong>Holding From:</strong> {{ instance.updated_on|date:"d-m-Y" }}</p>
                <p><strong>Holding Duration:</strong> {{ instance.updated_on|timesince }}</p>
            {% endif %}
        </div>
        <div class="col-6 col-md-6">
            {% if instance.player.image_url %}
            <img src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ instance.player.image_url }}" 
                            alt="{{ instance.player.name }}">
            <h4>{{ instance.player.name }}</h4>
            {% else %}
            <img alt="{{ instance.player.name }}">
            <h4>{{ instance.player.name }}</h4>
            {% endif %}
        </div>
    </div>
    <br />
    <div class='row'>
        <p>
            <a href="{% url 'championship-update' instance.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'championship-delete' instance.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'championship-list' %}" class="btn btn-secondary btn-sm">Back</a>
        </p>
    </div>
</div>
{% endblock %}
