{% extends "base.html" %}
{% block style %}
    .player-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 10px;
    }
    .player-item {
      background: #f8f9fa;
      padding: 5px 10px;
      border-radius: 8px;
      border: 1px solid #ddd;
    }
{% endblock style %}
{% block content %}
  <h2>{{ form_name }}</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.match_name.label_tag }} {{ form.match_name }}
    </div>

    <div class="mb-3">
      <label>{{ form.players.label }}</label>
      <div class="player-grid">
        {% for checkbox in form.players %}
          <div class="player-item">
            {{ checkbox.tag }} {{ checkbox.choice_label }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="mb-3">
      {{ form.price_amount.label_tag }} {{ form.price_amount }}
    </div>
    <div class="mb-3">
      {{ form.entry_amount.label_tag }} {{ form.entry_amount }}
    </div>
    <div class="mb-3">
      {{ form.is_championship_match.label_tag }} {{ form.is_championship_match }}
    </div>

    <button type="submit" class="btn btn-primary">Create Matches</button>
  </form>
{% endblock %}
