{% extends "base.html" %}
{% block style %}
img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    object-position: center; 
    display: block;
}
{% endblock %}
{% block content %}
<div class="container mt-3">
    <div class='row'>
        <h2>{{ match.name }}</h2>
    </div>
    <br />
    <div class='row'>
        <div class="col-6 col-md-6">
            {% if match.player_1.image_url %}
            <img
                src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ match.player_1.image_url }}"
                alt="{{ match.player_1.name }}"
                >
            {% else %}
            <img alt="{{ match.player_1.name }}">
            {% endif %}
            <h4>
                <a href="{% url 'player-view' match.player_1.id %}">{{ match.player_1.name }}</a>{% if match.player_1.championship.name %} <span class="badge bg-warning text-dark mt-1">{{ match.player_1.championship.name }}</span>{% endif %} {% if not match.player_1.is_active %} <span class="badge bg-danger text-dark mt-1">Not Active</span>{% endif %}
            </h4>
            <ul>
                <li><strong>Band: </strong>{{ match.player_1.band }} %</li>
                <li><strong>Win %: </strong>{{ match.player_1.winningpercentage|floatformat:2 }} %</li>
                <li><strong>Net Worth: </strong>₹ {{ match.player_1.networth|floatformat:2 }}</li>
            </ul>
        </div>
        <div class="col-6 col-md-6">
            {% if match.player_2.image_url %}
            <img
                src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ match.player_2.image_url }}"
                alt="{{ match.player_2.name }}"
                >
            {% else %}
            <img alt="{{ match.player_2.name }}">
            {% endif %}
            <h4>
                <a href="{% url 'player-view' match.player_2.id %}">{{ match.player_2.name }}</a>{% if match.player_2.championship.name %} <span class="badge bg-warning text-dark mt-1">{{ match.player_2.championship.name }}</span>{% endif %} {% if not match.player_2.is_active %} <span class="badge bg-danger text-dark mt-1">Not Active</span>{% endif %}
            </h4>
            
            <ul>
                <li><strong>Band: </strong>{{ match.player_2.band }} %</li>
                <li><strong>Win %: </strong>{{ match.player_2.winningpercentage|floatformat:2 }} %</li>
                <li><strong>Net Worth: </strong>₹ {{ match.player_2.networth|floatformat:2 }}</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h3>Winner</h3>
            </div>
            <div class="card-body">
                {% if match.winner %}
                    <div class="text-center mb-3">
                        <img src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ match.winner.image_url }}"
                            alt="{{ match.winner.name }}">
                    </div>
                {% else %}
                    Not yet declared.
                {% endif %}
            </div>
        </div>
    </div>
    <br />
    <div class='row'>
        <table class="table table-bordered">
            <tr><th>Date</th><td>₹ {{ match.date }}</td></tr>
            <tr><th>Price Amount</th><td>₹ {{ match.price_amount|floatformat:2 }}</td></tr>
            <tr><th>Entry Amount</th><td>₹ {{ match.entry_amount|floatformat:2 }}</td></tr>
        </table>
    </div>
    <br />
    {% if notifications %}
        <div class="row row-cols-1 g-3">
        {% for note in notifications %}
            <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                {% if note.image_url %}
                    <img src="https://raw.githubusercontent.com/tenctech10c/BWEImages/main/{{ note.image_url }}"
                            alt="{{ note.image_url }}" class="img-fluid rounded mb-2">
                {% endif %}
                <p class="card-text">{{ note.content|linebreaksbr }}</p>
                <p class="text-muted small mb-0">
                    {{ note.timestamp|date:"M d, Y H:i" }}
                </p>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">
        No notifications yet.
        </div>
    {% endif %}
    <br />
    <div class='row'>
        <p>
            {% if not match.winner %}
                <a href="{% url 'singlematch_update' match.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'singlematch_run' match.pk %}" class="btn btn btn-success btn-sm">Run</a>
            {% endif %}
            <a href="{% url 'create_notification' match.pk %}" class="btn btn btn-info btn-sm">Notify</a>
            <a href="{% url 'singlematch_list' %}" class="btn btn-secondary btn-sm">Back</a>
        </p>
    </div>
</div>
{% endblock %}
